@model IEnumerable<MarkDbModel.Entity.MarkClient>

@if (Model.Any())
{
    <table class="table table-hover table-striped">
        <tr>
            <th>Action</th>
            <th>Online</th>
            <th>Guid</th>
            <th>Status</th>
            <th>Command Group</th>
            <th>IP</th>
            <th>Port</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="action-buttons">
                        <a class="green" onclick="javascript: Operation('@item.ClientGuid', '@((item.Status=="Pause")?"Resume":"Start")'); return false;" href="#" title="Start"><i class="ace-icon fa fa-play bigger-130"></i></a>
                        <a class="orange" onclick="javascript:Operation('@item.ClientGuid','Pause');return false;" href="#" title="Start"><i class="ace-icon fa fa-pause bigger-130"></i></a>
                        <a class="red" onclick="javascript:Operation('@item.ClientGuid','Stop');return false;" href="#" title="Start"><i class="ace-icon fa fa-stop bigger-130"></i></a>
                    </div>
                </td>
                <td>@item.Online</td>
                <td>@Html.DisplayFor(m => item.ClientGuid)</td>
                <td>@Html.DisplayFor(m => item.Status)</td>
                <td>
                    @((item.CommandGroup == null) ? "Null" : item.CommandGroup.Description)
                </td>
                <td>@Html.DisplayFor(m => item.Ip)</td>
                <td>@Html.DisplayFor(m => item.Port)</td>
                <td>
                    <div class="action-buttons">
                        <a class="green" href="@Url.Action("EditClient","Home",new {Id=item.Id})" title="Edit"><i class="ace-icon fa fa-pencil bigger-130"></i></a>
                        <a class="red" onclick="javascrpt: RemoveClient('@item.Id','@item.ClientGuid'); return false;" href="#" title="Delete"><i class="ace-icon fa fa-trash-o bigger-130"></i></a>
                    </div>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h3>无内容</h3>
}

